#CallControl > input, #CallControl > span {
    border-radius: 2px;
    border: solid 1px #aaa;
    padding: 4px 10px;
}

#CallControl > span {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
    cursor: pointer;
}
